!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/gallerycss-cssbutton/gallerycss-cssbutton.css')
    script(src='/javascripts/config.js')
    script(src='http://yui.yahooapis.com/3.4.0/build/yui/yui-min.js') 
  body.yui3-skin-sam!= body
 